/* container */
.container {
    
}
.container .inner-container {
    display: flex;
    justify-content: center;
}
.container .inner-container .index {
    flex: 0 1 1600px;
    background-color: #ccf;
}
.container .inner-container .index .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(600px, auto) repeat(2, minmax(50px, auto));
    
    grid-auto-rows: minmax(50px, auto);
    
    gap: 5px;
}
.container .inner-container .index .grid-container .grid-gallery {
    grid-area: 1/1/2/-1;
    background-color: #ffc;
    background: url(../../img/back1.png) no-repeat 50%/ cover;
    /* filter: blur(1px); */
    /* filter: grayscale(0.5); */
}
.container .inner-container .index .grid-container .grid-menu {
    grid-area: 2/1/3/-1;
    background-color: #fcc;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.container .inner-container .index .grid-container .grid-menu .sub-menu {
    /* flex: 0 1 400px; */
    display: flex;
    justify-content: space-between;

}
.container .inner-container .index .grid-container .grid-menu .sub-menu>ul {
    display: flex;
    justify-content: space-between;
}
.container .inner-container .index .grid-container .grid-menu .sub-menu>ul>li {
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 0 10px;
}
.container .inner-container .index .grid-container .grid-menu span.right-btn {
    display: block;
    flex: 0 0 100px;
    height: 30px;
    background-color: #000;
}
.container .inner-container .index .grid-container .grid-con {
    grid-area: 3/1/4/-1;
    background-color: #ccc;

    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(300px)); */
}